.story {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      font-size: 0.8rem;
      color: #fff;
    }
  }
}
