hr {
  border: none;
  border-bottom: 0.5px solid #888;
}

.comments {
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;

  header {
    text-align: center;
    padding: 1rem;

    .icon {
      font-size: 2rem;
      position: absolute;
      left: 1rem;
    }

    span {
      font-size: 1.4rem;
    }
  }

  .container {
    padding: 1rem;
    display: flex;
    gap: 0.7rem;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    .info {
      background-color: #333;
      padding: 0.4rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 5px;

      .name {
        font-size: 1rem;
      }
      .username {
        font-size: 0.8rem;
        color: #999;
      }
      .comment {
        font-size: 1rem;
      }
    }
  }
}
